# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ASD-project.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Han\2020-2021\ASD\ASDP\asd-project-game\.idea\.idea.ASD-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
